<html>
<head>
<title>主页</title>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link type="text/css" herf="">
</head>
<body>
    <div style="text-align: center">表格下载</div><br>
    <table align='center' border="1">
        <tr>
            <td>
            ID
            </td>
            <td>
            表格名称
            </td>
            <td>
            表格上传时间
            </td>
            <td>
            下载链接
            </td>
        </tr>
        <tr>
            <td>
            {$id}
            </td>
            <td>
            {$name}
            </td>
            <td>
            {$datetime}
            </td>
            <td>
            {$url}
            </td>
        </tr>
    </table>
    <br>
    <form action="index/index/upload" method="post" enctype="multipart/form-data" class="upload_forum">
        <input type="file" value="upload_file"><br>
        <br>
        <label>
            <select name="club">
                <option value="1001ACG社">
                    1001ACG社
                </option>
                <option value="1002B&W平面设计社">
                    1002B&W平面设计社
                </option>
                <option value="1003BravoFm">
                    1003BravoFm
                </option>
                <option value="1004BR生物社">
                    1004BR生物社
                </option>
                <option value="1005Catalyser英语辩论社">
                    1005Catalyser英语辩论社
                </option>
                <option value="1006Corner角隅社">
                    1006Corner角隅社
                </option>
                <option value="1007CSA健美操社">
                    1007CSA健美操社
                </option>
                <option value="1008GPSL金菠萝街舞社">
                    1008GPSL金菠萝街舞社
                </option>
                <option value="1009iMovie观影社">
                    1009iMovie观影社
                </option>
                <option value="1010JPE经济社">
                    1010JPE经济社
                </option>
                <option value="1012Lovelife!宅舞社">
                    1012Lovelife!宅舞社
                </option>
                <option value="1013OCC定向越野社">
                    1013OCC定向越野社
                </option>
                <option value="1014OM社">
                    1014OM社
                </option>
                <option value="1015Spark社">
                    1015Spark社
                </option>
                <option value="1016VAE义工社">
                    1016VAE义工社
                </option>
                <option value="1018达尔文社（原仓鼠社）">
                    1018达尔文社（原仓鼠社）
                </option>
                <option value="1019钢琴西乐社">
                    1019钢琴西乐社
                </option>
                <option value="1020根与芽环保社">
                    1020根与芽环保社
                </option>
                <option value="1021韩国文化社">
                    1021韩国文化社
                </option>
                <option value="1022汉服社">
                    1022汉服社
                </option>
                <option value="1023化学社">
                    1023化学社
                </option>
                <option value="1024机器人社">
                    1024机器人社
                </option>
                <option value="1025建平BGD桌游设计社">
                    1025建平BGD桌游设计社
                </option>
                <option value="1026建平skily dango cosplay社">
                    1026建平skily dango cosplay社
                </option>
                <option value="1027建平吉他社">
                    1027建平吉他社
                </option>
                <option value="1028建平美术社">
                    1028建平美术社
                </option>
                <option value="1030建平推理社">
                    1030建平推理社
                </option>
                <option value="1031建平心理成长社">
                    1031建平心理成长社
                </option>
                <option value="1032建平羽协 ">
                    1032建平羽协
                </option>
                <option value="1033建平中学魔幻化学社">
                    1033建平中学魔幻化学社
                </option>
                <option value="1034建平中学足球社">
                    1034建平中学足球社
                </option>
                <option value="1035金苹果电视台">
                    1035金苹果电视台
                </option>
                <option value="1036模拟联合国社">
                    1036模拟联合国社
                </option>
                <option value="1037女篮社 ">
                    1037女篮社
                </option>
                <option value="1038欧美音乐社">
                    1038欧美音乐社
                </option>
                <option value="1039前沿食社">
                    1039前沿食社
                </option>
                <option value="1040浅墨古风社">
                    1040浅墨古风社
                </option>
                <option value="1041青年物理社">
                    1041青年物理社
                </option>
                <option value="1042上海市建平中学04论坛社">
                    1042上海市建平中学04论坛社
                </option>
                <option value="1043神兜兜广播剧社">
                    1043神兜兜广播剧社
                </option>
                <option value="1044时尚演绎社">
                    1044时尚演绎社
                </option>
                <option value="1045陶艺社">
                    1045陶艺社
                </option>
                <option value="1046天文社">
                    1046天文社
                </option>
                <option value="1047微电影社">
                    1047微电影社
                </option>
                <option value="1048橡皮章社">
                    1048橡皮章社
                </option>
                <option value="1049心连心社">
                    1049心连心社
                </option>
                <option value="1050心媒体社">
                    1050心媒体社
                </option>
                <option value="1051阳光书社">
                    1051阳光书社
                </option>
                <option value="1052竹汐文学社">
                    1052竹汐文学社
                </option>
                <option value="1053主持人社">
                    1053主持人社
                </option>
                <option value="1056无人机社">
                    1056无人机社
                </option>
                <option value="1057戏剧社">
                    1057戏剧社
                </option>
                <option value="1058Check象棋社">
                    1058Check象棋社
                </option>
                <option value="1059英文书法社">
                    1059英文书法社
                </option>
                <option value="1060植物社">
                    1060植物社
                </option>
                <option value="1061私人订制社">
                    1061私人订制社
                </option>
                <option value="1062偶像文化研究社">
                    1062偶像文化研究社
                </option>
                <option value="1063乒乓社">
                    1063乒乓社
                </option>
                <option value="1064飞镖社">
                    1064飞镖社
                </option>
                <option value="1065JPhorizon">
                    1065JPhorizon
                </option>
                <option value="1066JEEK信息社">
                    1066JEEK信息社
                </option>
            </select>
        </label>
        <br>
        <br>
        <input type="submit">

    </form>
</body>
</html>
