<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理界面</title>
    <link type="text/css" href="">
</head>
<body>
<div class="greet_message">
    欢迎，{$name}
</div>
<div>
<table width="1000" border="1">
  <tbody>
    <tr>
      <td>社团id</td>
      <td>社团名称</td>
		<td>Week1</td>
		<td>Week2</td>
		<td>Week3</td>
		<td>Week4</td>
		<td>Week5</td>
		<td>Week6</td>
		<td>Week7</td>
		<td>Week8</td>
		<td>Week9</td>
		<td>Week10</td>
		<td>Week11</td>
		<td>Week12</td>
		<td>Week13</td>
		<td>Week14</td>
		<td>Week15</td>
		<td>Week16</td>
		<td>Week17</td>
		<td>Week18</td>
		<td>Week19</td>
		<td>Week20</td>
    </tr>
    <tr>{$tablecontent}</tr>
  </tbody>
</table>

</div>
</body>
</html>